@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 18px sans-serif;
}

body {
  background-color: #EDEDED;
}

a {
    text-decoration: none;
}
  
a:hover {
    color: #0000FF;
}

footer {
    padding-left: 2rem;
    font-size: .75rem;
}

h2 {
    font-family: "indie flower";
    text-decoration: underline;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

p {
    width: 80vw;
}

ul {
    list-style-type: none;
}

.container {
    padding: 6rem 2rem;
}

.flex-column-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-column-3 img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-left: 30%; */
}

.flex-column-3 p {
    padding-bottom: 1rem;
}

.main-header {
    align-items: center;
    background-color: #333;
    display: flex;
    font-family: "indie flower";
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
}
  
.main-header__title {
    color: #9D9D9D;
}
  
.main-header__title:hover {
    color: #FFFFFF;
}
  
.nav__list {
    display: flex;
}
  
.nav__list a {
    color: #9D9D9D;
}
  
.nav__list a:hover {
    color: #FFFFFF;
}
  
.nav__list-item {
    margin-right: 1em;
}
  
.nav__list-item:last-child {
    margin-right: 0;
}