@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 18px sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0000FF;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
}

.bio {
    padding-top: 1rem;
}

.container {
    background-color: #EDEDED;
    padding: 1rem 2rem;
    padding-top: 6rem;
}

.fab {
    color: #9D9D9D;
    margin-right: 1em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fab:hover {
    color: #000000;
}

.font-awesome {
    display: flex;
    font-size: 2rem;
}

.font--mod {
    font-family: "indie flower";
    margin-bottom: 1rem;
    text-decoration: underline;
}

footer {
    background-color: #EDEDED;
    padding-left: 2rem;
    font-size: .75rem;
}

.flex-column-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-column-3 img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-left: 30%; */
}

.flex-column-3 p {
    padding-bottom: 1rem;
}

.main-header {
    align-items: center;
    background-color: #333;
    display: flex;
    font-family: "indie flower";
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
}

.main-header__title {
    color: #9D9D9D;
}

.main-header__title:hover {
    color: #FFFFFF;
}

.nav__list {
    display: flex;
}

.nav__list a {
    color: #9D9D9D;
}

.nav__list a:hover {
    color: #FFFFFF;
}

.nav__list-item {
    margin-right: 1em;
}

.nav__list-item:last-child {
    margin-right: 0;
}
