@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 18px/1 sans-serif;
}

body {
  background-color: #ededed;
}

a {
  text-decoration: none;
}

a:hover {
  color: #0000ff;
}

footer {
  align-items: center;
  background-color: #333;
  color: #9d9d9d;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.animate--zoom {
  animation: zoom 1s;
}

.main-header {
  align-items: center;
  background-color: #333;
  display: flex;
  font-family: raleway;
  justify-content: space-between;
  width: 100%;
}

.main-header {
  align-items: center;
  background-color: #333;
  display: flex;
  font-family: raleway;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}

.main-header a {
  color: #9d9d9d;
}

.main-header a:hover {
  color: #ffffff;
}

.nav__list {
  display: flex;
}

.nav__list-item {
  margin-right: 1rem;
}

.nav__list-item:last-child {
  margin-right: 0;
}

.projects-section__img {
  display: block;
  height: auto;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.projects-section__list {
  display: grid;
  grid-template-columns: 1fr;
}

.projects-section__title {
  font-family: "indie flower";
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: underline;
}

.projects-section__overview {
  padding-bottom: 1rem;
  width: 90%;
}

/* Utility Class */

.container {
  background-color: #EDEDED;
  padding: 1rem 2rem;
}

.wrapper {
  display: grid;
  grid-auto-rows: 4em auto 2.5em;
}


@keyframes zoom {
  0%   { 
    transform: scale(0);
  }
  100% { 
    transform: scale(1);
  }
}

@media (min-width: 439px) {
  .main-header {
    padding: .5rem 1rem;
  }
}

@media (min-width: 475px) {
  .main-header {
    padding: 1rem 2rem;
  }

  .projects-section__img {
    height: 40vh;
  }
}

@media (min-width: 768px) {  
  .projects-section__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 1000px) {
  .projects-section__img {
    height: 50vh;
  }
}